@import "_transitions.css";

:root {
    --app-bg-color: #141414;
    --app-text-color: #FFFFFF;
}

* {
    box-sizing: border-box;
}

*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: var(--app-bg-color);
    color: var(--app-text-color);
    min-height: 100dvh;
}

body::-webkit-scrollbar {
  display: none;
}

a {
    color: inherit;
    text-decoration: none;
}

input {
  width: 100%;
}

.h1 {
    font-size: 48px;
    line-height: 56px;
    font-weight: 600;
}

.h2 {
  font-size: 32px;
  line-height: 36px;
  font-weight: 500;
}

.h3 {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
    position: relative;
    height: 100dvh;
    overflow: auto;
}

